@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #23262e; // Morado amigable a la vista
    // background-image: radial-gradient(circle, rgba(255, 255, 255, 0.6) 1px, transparent 1px);
    // background-size: 20px 20px; // Tamaño de los puntos
    color: #fff; // Texto blanco
    
}